/* Общие */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    /* MAIN */
    --main-grey: #4C4C4C;
    --main-sand-dark:#645E52;
    --main-sand: #A18348;
    --main-sand-light: #EDD9B2;

    /* BG */
    --bg-elight: #F4F3FE;
    --bg-light: #E3DED3;
    --bg-white: #ffffff;

    /* STROKE */
    --stroke-pink: #FFB9C5;
    --stroke-grey: #DEDEDE;
    --stroke-focuced: #FC4566;

    /* TEXT */
    --text-black: #212121;
    --text-white: #ffffff;
    --text-brown: #6B6250;
    --text-lbrown: #B8A88A;
    --text-disabled: #6B6B6B;
    --text-sand: #A18348;
    --text-lgery: #DEDEDE;

    /* FIELD */
    --field-bg: #F7F7FD;
    --field-bg2: #f0f0f7;
    --field-title: #6B6B6B;
    --field-text: #212121;
    --field-icon: #212121;

    /*  BTN */

    /* Primary */
    --btn-pr-t: #FFFFFF;
    --btn-prdef-bg: #A18349;
    --btn-prh-bg: #988561;
    --btn-prf-bg: #867555;
    --btn-prf-s: #FC4566;
    --btn-pra-bg: #867555;;
    --btn-prcl-bg: #645E52;
    --btn-prd-bg: #F4F3FE;
    --btn-prd-t: #6B6B6B;

    /* Secondary */
    --btn-sc-t: #A18349;
    --btn-sc-bg: rgb(255,255,255,0);
    --btn-scdef-s: #A18349;
    --btn-sch-s: #988561;
    --btn-scf-s: #FC4566;
    --btn-sca-s: #867555;;
    --btn-sccl-bg: #F6F5FF;
    --btn-sccl-s: #F6F5FF;
    --btn-scd-bg: #F4F3FE;
    --btn-scd-s: #F4F3FE;
    --btn-scd-t: #6B6B6B;

    /* GAP */
    --gap-menu: 24px;
    --gap-10: 10px;
    --gap-16: 16px;
    --gap-20: 20px;
    --gap-36: 36px;
}

@media (max-width: 320px) {
    :root {
        /* GAP */
        --gap-menu: 10px;
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    :root {
        /* GAP */
        --gap-menu: 14px;
    }
}

/* ТЕКСТ И ССЫЛКИ */

a, p, ul, li, h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito Sans', sans-serif;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--text-black);
}

a, .link-logo {
    text-decoration: none;
    color: var(--text-disabled);
    font-weight: 800;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    cursor: pointer;
}

a:hover {
    color: var(--main-yellow);
    transition: color 300ms linear;
}


.link-logo:hover {
    color: var(--secondary-light);
}

.all-link {
    text-decoration: none;
    color: var(--main-sand);
    cursor: pointer;
}

/* КОНТЕЙНЕРЫ */

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .container {
        max-width: calc(100% - 20px);
    }
}

/*  BTN */

.btn {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--btn-prdef-bg);
    border: none;
    border-radius: 4px;
    color: var(--btn-pr-t);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 16px 32px;
    width: fit-content;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--btn-prh-bg);
    color: var(--btn-pr-t);
    transition: all 300ms linear;
}

.btn:active {
    background-color: var(--btn-prcl-bg);
    color: var(--btn-pr-t);
    transition: all 300ms linear;
}

@media (max-width: 600px) {
    .btn {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .btn {
        font-size: 15px;
    }
}

.btn-sec {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--btn-sc-bg);
    border: 1px solid var(--btn-scdef-s);
    border-radius: 4px;
    color: var(--btn-sc-t);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 16px 32px;
    width: fit-content;
    cursor: pointer;
}

.btn-sec:hover {
    background-color: var(--btn-sc-bg);
    border: 1px solid var(--btn-sch-s);
    color: var(--btn-sc-t);
    transition: all 300ms linear;
}

.btn-sec:active {
    background-color: var(--btn-sccl-bg);
    border: 1px solid var(--btn-sccl-s);
    color: var(--btn-sc-t);
    transition: all 300ms linear;
}

.btn-list {
    display: flex;
    align-items: center;
    gap: var(--gap-10);
}

.btn-ctr {
    margin: 0 auto;
    display: block;
}

/* РАЗМЕРЫ КНОПОК - normal по умолчанию */

.large {
    font-size: 20px;
    padding: 20px 32px;
}

.normal {
    font-size: 20px;
    padding: 16px 32px;
}

.medium {
    font-size: 16px;
    padding: 14px 32px;
}

.smoll {
    font-size: 14px;
    padding: 12px 24px;
}

.extrasmoll {
    font-size: 14px;
    padding: 8px 24px;
}

/* ЗАГОЛОВКИ */

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 110%;
    color: var(--text-white);
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 600px) {

}

@media (min-width: 600px) and (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 1024px) {

}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: var(--text-black);
    padding: 80px 0px 32px 0px;
    text-align: center;
}

.img-object-fit {
    object-fit: contain;
}

.bg-light {
    background-color: var(--bg-light);
}

/* header */

.section-header {
    background: var(--bg-elight);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
}

.nav-lis {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-menu);
}

.network-list {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-16);
}

/* hero block */

.bg-image {
    background-image: url(/images/bg-hero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 145px 0px;
}

.title-hero {
    padding-bottom: 16px;
}

.rectangle-hero {
    width: 1px;
    height: 52px;
    background: rgba(255, 255, 255, 0.6);
}

.description-hero {
    color: var(--text-white);
    padding: 32px 0px;
}

/* Выбор отеля форма */

.filter-hero {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 24px;
    padding-bottom: 80px;
}

.field-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--field-bg);
    border-radius: 4px;
    padding: 8px 20px;
    max-height: 56px;
    max-width: 240px;
}

label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: var(--field-title);
}

.entry-field {
    display: flex;
    flex-direction: column;
}

.input-field {
    padding: 0;
    color: var(--field-text);
    font-size: 16px;
    border: none;
    outline: none;
}

.input-field:active {
    outline: none;
    border: none;
}

.input-field::placeholder {
    color: var(--field-text);
}

.field-icon {
    font-size: 20px;
    color: var(--field-icon);
}

/* hotels */

.section-hotels {
    padding: 80px 0px;
}

.hotels-list {
    display: flex;
    overflow: hidden;
}

.hotels-item {
    margin-bottom: 48px;
    overflow: hidden;
    min-width: 100%;
}

.hotels-img {
    position: absolute;
    top: 0;
    right: 0;
}

.hotels-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-hotels {
    width: 45%;
    padding-bottom: 30px;
}

.title-hotels {
    text-align: left;
    padding: 0px 0px 16px 0px;
    text-transform: uppercase;
}

.accent-hotels {
    font-size: 16px;
    line-height: 140%;
    color: var(--text-disabled);
    padding-bottom: 24px;
}

.description-hotels {
    padding-bottom: 28px;
}

.info-hotels {
    background-color: var(--bg-white);
    box-shadow: 0px 8px 16px rgba(107, 107, 107, 0.2);
    border-radius: 20px;
    padding: 36px 46px;

    display: flex;
    gap: 22px;
    width: 80%;
    margin-bottom: 48px;
}

.info-title {
    display: flex;
    align-items: center;

    font-weight: 300;
    font-size: 24px;
    width: 20%;
}

.info-list {
    display: flex;
    align-items: center;
    gap: 8px;
}

.info-item {
    display: flex;
    align-items: center;
    width: calc((100% - 8px)/2);
}

.info-item-one {
    display: flex;
    align-items: center;
    width: 100%;
}

.info-item-three {
    display: flex;
    align-items: center;
    width: calc((100% - 8px*2)/3);
}

.info-accent {
    font-size: 60px;
    color: var(--text-lbrown);
    padding-right: 16px;
}

.info-description {
    font-size: 16px;
    color: var(--text-disabled);
}

.karusel-list {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.karusel-item {
    background-color: var(--stroke-grey);
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.karusel-item-active {
    background-color: var(--text-disabled);
}

/* gallery */

.gallery-list {
    display: flex;
    gap: 8px;
    padding-bottom: 8px;
}

.gallery-list-ver {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* news */

.reference-list {
    display: flex;
    gap: 24px;
    padding-bottom: 40px;
}

.reference-item {
    width: calc((100% - 24px*2)/3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reference-title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;

    padding: 24px 0px;
}

.reference-description {
    font-size: 16px;
    text-align: center;
}

/* Идеи для отдыха */

.ideas-list {
    display: flex;
    gap: 0;
    border-top: 1px solid var(--main-sand-light);
}

.ideas-item {
    width: calc(100% / 3);
    padding: 40px 26px 0px 26px;
    border-right: 1px solid var(--main-sand-light);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ideas-item:last-child {
    border-right: 0px solid var(--main-sand-light);
}

.ideas-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%; 
    text-align: center;
    padding-bottom: 32px;
}

.ideas-description {
    text-align: center;
    padding-bottom: 24px;
}

/* Полезные ссылки */

.news-list {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
}

.news-item {
    width: calc((100% - 27px*3)/4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 29px;
    border-radius: 20px;
    overflow: hidden;
}

.news-item:hover {
    box-shadow: 0px 16px 24px rgba(107, 107, 107, 0.2);
    transition: box-shadow 350ms linear;
}

.accent-text {
    position: absolute;
    top: 0px;
    left: 40px;

    font-weight: 900;
    font-size: 200px;
    color: var(--text-lgery);
    opacity: 0.6;
}

.news-title {
    font-weight: 700;
    color: var(--text-sand);
    padding-bottom: 24px;
}

.news-description {
    padding-bottom: 24px;
}

/* Локации отелей «На карте» */

.maps-img {
    min-height: 600px;
    background-image: url(/images/maps-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

/* footer */

.section-footer {
    background-color: var(--bg-elight);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
}

.footer-nav-lis {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-menu);
}